.user-modal {
  width: 450px;
  margin: auto;
  border-radius: 25px;
  background-color: #151d26;
  padding: 30px 40px 20px 40px;
  margin-top: 14rem;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  border-width: 3px;
  border-style: solid;
  border-color: #9df7fe;
}

.close-photo {
  font-size: 27px;
  color: white;
  margin-bottom: 7px;
}

.save-changes {
  font-size: 1.2rem;
  border-radius: 15px;
  padding: 3px;
  width: 140px;
  border: none;
  margin: auto;
  background-color: white;
  color: #052d55;
  font-family: "Rubik", sans-serif;
}

.modal-bt {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.modal-pic {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 8px solid #ffffff;
  margin: auto;
  z-index: 1;
}

.input-image {
  display: "flex";
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 10px;
}

.delete-button {
  padding: 5px;
  background-color: red;
  cursor: pointer;
  border: none;
  width: 200px;
  color: white;
  border-radius: 30px;
  margin: auto;
  margin-top: 10px;
}

.custom-file-input2 {
  color: transparent;
  width: 113px;
}
.custom-file-input2::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input2::before {
  content: "Change picture";
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 20px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;

  margin-top: 10px;
}
.custom-file-input2:hover::before {
  border-color: black;
}
.custom-file-input2:active {
  outline: 0;
}
.custom-file-input2:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
