.user-modal {
  width: 450px;
  margin: auto;
  border-radius: 25px;
  background-color: #151d26;
  padding: 30px 40px 30px 40px;
  margin-top: 14rem;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  border-width: 1px;
  border-style: solid;
  border-color: #7c7c7c;
}

.close-photo {
  font-size: 27px;
  color: white;
  margin-bottom: 7px;
}

.button-footer {
  display: flex;
  justify-content: center;
}

.save-changes {
  font-family: "Rubik", sans-serif;
  border-radius: 20px;
  border: 1px solid #2bc3ff;
  background-color: #1c8dce;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 43px;
  margin-top: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.save-changes:active {
  transform: scale(0.95);
}

.save-changes:focus {
  outline: none;
}

.save-changes:hover {
  background-color: #1498d1;
}

.modal-bt {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.modal-pic {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 8px solid #ffffff;
  margin: auto;
  z-index: 1;
}

.input-image {
  display: "flex";
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 10px;
}

.delete-button {
  padding: 5px;
  background-color: red;
  cursor: pointer;
  border: none;
  width: 200px;
  color: white;
  border-radius: 30px;
  margin: auto;
  margin-top: 10px;
}

.custom-file-input2 {
  color: transparent;
  width: 113px;
}
.custom-file-input2::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input2::before {
  content: "Change picture";
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 20px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;

  margin-top: 10px 0px 10px 0px;
}
.custom-file-input2:hover::before {
  border-color: black;
}
.custom-file-input2:active {
  outline: 0;
}
.custom-file-input2:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.photo-selected1 {
  top: 200px;
  margin-left: 160px;
  position: absolute;
  z-index: 7;
  border-style: solid;
  border-radius: 50%;
  border-color: white;
  background-color: white;
}

.photo-selected1:active {
  transform: scale(0.95);
}

.photo-selected1:focus {
  outline: none;
}

.photo-selected1:hover {
  background-color: #1498d1;
}

.photo-title {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-height: 720px) {
  .user-modal {
    margin-top: 9rem;
  }
}
