.card-img-top {
  height: 300px;
}

.cardprueba {
  border-color: #d7dfe3;
  border-radius: 4px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  height: 352px;
}

.little-profile .pro-img .prueba3 {
  width: 158px;
  height: 158px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}

.prueba2 {
  line-height: 30px;
  font-size: 31px;
}

.fontprueba {
  color: white;

  font-weight: 400;
}
