/* WRAPPER */

.wrapper-travelers {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  overflow-x: auto;
  margin-bottom: 40px;
  margin-top: 25px;
  z-index: 1;
  width: 1200px;
}

.wrapper-travelers::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 8px;
}

.wrapper-travelers::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}
.wrapper-travelers::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    to right,
    #e9f8ff 0%,
    #b8b8b8 51%,
    #e4e4e4 100%
  );
  border-radius: 30px;
}
.wrapper-travelers .img1 {
  width: 100%;
}

.card1:hover {
  background: rgb(65, 130, 173);
}

.travelers-img {
  display: flex;
  display: block;
  background-size: cover;
  background-position: center;
  margin-bottom: 0.7rem;
  min-height: 310px;
  width: 230px;
  padding-right: 50px;
  border-radius: 10px 10px 10px 10px;
  display: "block";
}

.section-box {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50px;
}
