.features {
  margin-right: 120px;
  font-size: 20px;
}

.box {
  background-color: rgb(229, 229, 229);
}

.textDescription {
  width: 50rem;
  font-size: 18px;
}

.heaven2 {
  width: 10rem;
  height: 20rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TRIP HEADER */

.trip-user {
  background: linear-gradient(#ffffff, transparent);
  color: #333;
}
.trip-user .shadow-page {
  position: absolute;
  display: block;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  width: 100%;
  height: 60%;
  bottom: 0;
  left: 0;
}
.trip-user .font-page,
.trip-user .shadow-page {
  border-radius: 0 0 20px 20px;
}
.trip-user img {
  width: 100%;
}
.trip-content {
  max-width: 1440px;
  height: 460px;
  margin-left: auto;
  margin-right: auto;
}
.trip-user .trip-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.trip-user .font-page {
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 23rem;
  margin-bottom: 0.5rem;
}
.trip-user .avatar-trip {
  display: block;
  width: 190px;
  height: 190px;
  background-color: #d9dcf1;
  position: absolute;
  bottom: -85px;
  left: 39rem;
  border-radius: 50%;
  overflow: hidden;
  border: 8px solid #ffffff;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.trip-user .trip-data {
  position: absolute;
  display: block;
  width: calc(100% - 0px - 9rem);
  right: 0;
  bottom: 0;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.match-button {
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 25px;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
}

.match-position {
  position: absolute;
  display: block;
  width: calc(40% - 20px - 3rem);
  right: 0;
  bottom: 0;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  padding-bottom: 1rem;
  padding-right: 1rem;
}
.datos-like {
  position: absolute;
  display: block;
  width: calc(40% - 20px - 19rem);
  right: 0;
  bottom: 0;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-size: 25px;
  padding-bottom: 1rem;
  padding-right: 1rem;
}
.trip-user .info-user {
  font-size: 3.4rem;
  white-space: nowrap;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trip-user .list-position {
  list-style: none;
}
.trip-user .list-position li {
  display: inline-block;
  font-size: 1em;
  margin-right: 1rem;
}

.lista-perfil {
  list-style: none;
}

.trip-user .edit-options {
  display: block;
  position: absolute;
  right: 2rem;
  top: 1rem;
}
.trip-user .edit-options button {
  border: 0;
  padding: 8px 20px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
}

.place-description {
  display: flex;
  width: auto;
  font-size: 20px;
}

.text-description {
  width: 900px;
}

.icon-box {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

.li-icon {
  list-style: none;
}

.icon-options {
  font-size: 15px;
  margin: 5px 10px 15px 60px;
  letter-spacing: 2px;
  font-size: 1.3rem;
}

/* WRAPPER */

.wrapper-travelers {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  overflow-x: auto;
  margin-bottom: 40px;
  margin-top: 25px;
  z-index: 1;
  width: 1200px;
}

.wrapper-travelers::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 8px;
}

.wrapper-travelers::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}
.wrapper-travelers::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    to right,
    #e9f8ff 0%,
    #b8b8b8 51%,
    #e4e4e4 100%
  );
  border-radius: 30px;
}
.wrapper-travelers .img1 {
  width: 100%;
}

.card1:hover {
  background: rgb(65, 130, 173);
}

.travelers-img {
  display: flex;
  display: block;
  background-size: cover;
  background-position: center;
  margin-bottom: 0.7rem;
  min-height: 310px;
  width: 230px;
  padding-right: 50px;
  border-radius: 10px 10px 10px 10px;
  display: "block";
}

/* RESOLUTION 1680px */

@media (max-width: 1680px) {
  .trip-user .avatar-trip {
    left: calc(51% - 105px);
  }
  .datos-like {
    bottom: -0px;
  }
}

@media (max-width: 1440px) {
  .trip-user .avatar-trip {
    left: calc(51% - 105px);
  }
  .datos-like {
    width: 120px;
  }
  .icon-options {
    margin-left: 40px;
    font-size: 15px;
  }
}

@media (max-width: 1366px) {
  .trip-user .avatar-trip {
    left: calc(51% - 105px);
  }
  .datos-like {
    width: 120px;
  }
  .trip-user .trip-data {
    width: 100%;
    text-align: left;
    padding-left: 50px;
  }
  .icon-box {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .icon-options {
    margin-left: 10px;
    font-size: 13px;
  }
}

/* RESOLUTION 1000px */

@media (max-width: 1000px) {
  .trip-user .avatar-trip {
    left: calc(55% - 105px);
    width: 160px;
    height: 160px;
  }

  .match-position {
    left: 0;

    text-align: left;

    width: 50%;
    color: #ffffff;
    font-size: 15px;
  }

  .match-button {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 12px;
  }

  .trip-user .trip-data {
    bottom: 80px;
    width: 100%;
    padding-left: 0;
    text-align: center;
  }

  .info-user {
    font-size: 0.2rem;
  }

  .text-description {
    font-size: 1.1rem;
  }

  .icon-box {
    width: 100%;
    display: inline-block;
    text-align: left;
  }

  .icon-options {
    font-size: 13px;
  }
}

/* RESOLUTION 390px */

@media (max-width: 390px) {
  .trip-user .trip-content {
    width: 100%;
  }
  .trip-user .avatar-trip {
    left: calc(60% - 105px);
    display: block;
    width: 130px;
    height: 130px;
    background-color: #d9dcf1;
    bottom: -65px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #ffffff;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
  .trip-user .trip-data {
    bottom: 55px;
    left: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
  }
  .trip-content {
    max-width: 1440px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  .match-position {
    bottom: -200px;
    left: 0;
    margin: 10px auto 0;
    padding: 5px;
    text-align: left;
    position: relative;
    width: 50%;
    color: #ffffff;
    font-size: 15px;
  }

  .match-button {
    padding-left: 10px;
    padding-right: 10px;
  }

  .datos-like {
    bottom: -200px;
    left: 0;
    margin: 10px auto 0;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 30%;
    float: right;
    color: #ffffff;
    font-size: 25px;
  }
  .trip-user .info-user {
    font-size: 2.1rem;
  }
  .trip-user .font-page {
    height: 17rem;
  }
  .trip-user .menu-perfil ul {
    flex-direction: column;
  }
  .trip-user .list-position {
    display: block;
  }
  .trip-user .menu-perfil {
    margin-top: 2rem;
  }
  .trip-user .menu-perfil ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.5rem;
    width: 70%;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
  }
  .trip-user .icono-perfil {
    display: inline-block;
  }
  .icon-box {
    display: inline;
  }
  .features {
    font-size: 18px;
    margin-right: 20px;
  }
  .icon-options {
    margin-left: 100px;
    font-size: 10px;
  }
}
