@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
.features {
  margin-right: 120px;
  font-size: 20px;
}

.box {
  background-color: rgb(229, 229, 229);
}

.textDescription {
  width: 50rem;
  font-size: 18px;
}

.heaven2 {
  width: 10rem;
  height: 20rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TRIP HEADER */

.trip-user {
  background: linear-gradient(#ffffff, transparent);
  color: #151d26;
}
.trip-user .shadow-page {
  position: absolute;
  display: block;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  width: 100%;
  height: 60%;
  bottom: 0;
  left: 0;
}
.trip-user .font-page,
.trip-user .shadow-page {
  border-radius: 0 0 20px 20px;
}
.trip-user img {
  width: 100%;
}
.trip-content {
  max-width: 1440px;
  height: 460px;
  margin-left: auto;
  margin-right: auto;
}

.user-city {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.t-rute {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.trip-user .trip-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
  width: 90%;
}
.trip-user .font-page {
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 23rem;
  margin-bottom: 0.5rem;
}
.trip-user .avatar-trip {
  display: block;
  width: 190px;
  height: 190px;
  background-color: #d9dcf1;
  position: absolute;
  bottom: -85px;
  left: 39rem;
  border-radius: 50%;
  overflow: hidden;
  border: 8px solid #ffffff;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.trip-user .avatar-trip:hover {
  width: 193px;
  height: 193px;
}

.trip-user .trip-data {
  position: absolute;
  display: block;
  width: calc(100% - 0px - 9rem);
  right: 0;
  bottom: 0;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.match-button {
  width: 120px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 42px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.match-button:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.match-button:focus {
  outline: none;
}

.match-button.color-9 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
}

.match-position {
  position: absolute;
  display: block;
  width: calc(40% - 20px - 3rem);
  right: 0;
  bottom: 0;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  padding-bottom: 1rem;
  padding-right: 1rem;
}
.datos-like {
  position: absolute;
  display: block;
  width: calc(40% - 20px - 19rem);
  right: 0;
  bottom: 0;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-size: 25px;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.user-informations {
  color: #151d26;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.user-informations:hover {
  color: #151d26;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.trip-user .info-user {
  font-size: 3.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  white-space: nowrap;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trip-user .list-position {
  list-style: none;
}
.trip-user .list-position li {
  display: inline-block;
  font-size: 1em;
  margin-right: 1rem;
}

.lista-perfil {
  list-style: none;
}

.trip-user .edit-options {
  display: block;
  position: absolute;
  right: 2rem;
  top: 1rem;
}
.trip-user .edit-options button {
  border: 0;
  padding: 8px 20px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
}

.edit-galery button {
  border: 0;
  font-size: 1.2rem;
  padding: 0.1rem 0.8rem;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
}

.place-description {
  display: flex;
  width: auto;
}

.text-description {
  width: 900px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
}

.icon-box {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

.li-icon {
  list-style: none;
  font-family: "Comfortaa", cursive;
}

.icon-options {
  margin: 5px 10px 15px 60px;
  letter-spacing: 2px;
  font-size: 1.3rem;
  color: #0094db;
}

.square1 {
  width: 10px;
  height: 10px;
  background-color: white;
}

.pencil-features {
  display: flex;
  justify-content: end;
}

.button-pe {
  margin-left: 20px;
  font-size: 20px;
  padding: 9px;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 50px;
}

.button-pe:hover {
  background-color: rgb(172, 208, 255);
  border-radius: 50px;
}

/* RESOLUTION 1680px */

@media (max-width: 1680px) {
  .trip-user .avatar-trip {
    left: calc(51% - 105px);
    width: 190px;
    height: 190px;
  }

  .datos-like {
    bottom: -0px;
  }
}

@media (max-width: 1440px) {
  .trip-user .trip-content {
    width: 100%;
  }

  .trip-user .avatar-trip {
    left: calc(51% - 105px);
    width: 190px;
    height: 190px;
  }

  .datos-like {
    width: 120px;
  }
  .icon-options {
    margin-left: 40px;
    font-size: 15px;
  }
}

@media (max-width: 1366px) {
  .trip-user .avatar-trip {
    left: calc(51% - 105px);
    width: 190px;
    height: 190px;
  }

  .trip-user .avatar-trip:hover {
    width: 192px;
    height: 192px;
  }
  .datos-like {
    width: 120px;
  }
  .trip-user .trip-data {
    width: 100%;
    text-align: left;
    padding-left: 50px;
  }
  .icon-box {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
  }

  .icon-options {
    margin-left: 30px;
    font-size: 13px;
  }
}

/* RESOLUTION 1000px */

@media (max-width: 1000px) {
  .trip-user .avatar-trip {
    left: calc(53% - 105px);
    width: 160px;
    height: 160px;
  }

  .text-description {
    font-size: 0.9rem;
  }

  .trip-user .avatar-trip:hover {
    width: 163px;
    height: 163px;
  }

  .match-position {
    left: 0;
    text-align: left;
    width: 50%;
    color: #ffffff;
    font-size: 15px;
  }

  /*  button */
  .match-button {
    width: 110px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 10px;
  }

  /*   button  */
  .trip-user .trip-data {
    bottom: 80px;
    width: 100%;
    padding-left: 0;
    text-align: center;
  }

  .icon-box {
    width: 100%;
    display: inline-block;
    text-align: left;
  }

  .icon-options {
    font-size: 13px;
  }

  .travelers-img {
    display: flex;
    display: block;
    background-size: cover;
    background-position: center;
    margin-bottom: 0.7rem;
    min-height: 300px;
    width: 215px;
    margin: 0px 4px 10px 4px;
    border-radius: 10px 10px 10px 10px;
    display: "block";
  }
}

@media (max-width: 800px) {
  .trip-user .avatar-trip {
    left: calc(55% - 105px);
    width: 160px;
    height: 160px;
  }

  .trip-user .avatar-trip:hover {
    width: 163px;
    height: 163px;
  }
}

/* RESOLUTION 390px */

@media (max-width: 390px) {
  .trip-user .trip-content {
    width: 100%;
  }
  .trip-user .avatar-trip {
    left: calc(60% - 105px);
    display: block;
    width: 130px;
    height: 130px;
    background-color: #d9dcf1;
    bottom: -65px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #ffffff;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
  .trip-user .trip-data {
    bottom: 55px;
    left: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
  }
  .trip-content {
    max-width: 1440px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  .match-position {
    bottom: -200px;
    left: 0;
    margin: 10px auto 0;
    padding: 5px;
    text-align: left;
    position: relative;
    width: 50%;
    color: #ffffff;
    font-size: 15px;
  }

  .match-button {
    padding-left: 10px;
    padding-right: 10px;
  }

  .datos-like {
    bottom: -200px;
    left: 0;
    margin: 10px auto 0;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 30%;
    float: right;
    color: #ffffff;
    font-size: 25px;
  }
  .trip-user .info-user {
    font-size: 2.1rem;
  }
  .trip-user .font-page {
    height: 17rem;
  }
  .trip-user .menu-perfil ul {
    flex-direction: column;
  }
  .trip-user .list-position {
    display: block;
  }
  .trip-user .menu-perfil {
    margin-top: 2rem;
  }
  .trip-user .menu-perfil ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.5rem;
    width: 70%;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
  }
  .trip-user .icono-perfil {
    display: inline-block;
  }
  .icon-box {
    display: inline;
  }
  .features {
    font-size: 18px;
    margin-right: 20px;
  }
  .icon-options {
    margin-left: 100px;
    font-size: 10px;
  }
}
